.container{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  .content{
    .card{
      width: 1000px;

      .weather{
        display: flex;

        .first-part{
          width: 50%;
        }
        .second-part{
          width: 50%;
        }
      }
    }
    .search{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .weekly{
      display: flex;
      justify-content: center;

      .days{
        margin-right: 20px;
      }
      .weekly-weather{
        display: flex;

        .icons{
          display: flex;
          flex-direction: column;

          img{
            width: 50px;
            height: 35px;
          }
        }
      }
    }
  }
}

nz-select {
    margin: 0 8px 10px 0;
    min-width: 120px;
}
